recursive-include pixiv *
include *.txt
include *.rst
include *.md
include *.py
include LICENSE
include development.cfg
include main.cfg
include production.cfg
include versions.cfg

exclude pixiv/downloader/bot/settings.py
global-exclude *.pyc
global-exclude ._*
global-exclude *.mo
